<header>  
  <app-nav [color]="homecolor" (testdata)="addItem($event)"></app-nav>
</header>

<!-- {{mytest}}

<div class="loader"  *ngIf="loaded"></div>


  <div class="container p-2  shadow rounded mt-4 mb-3">
    <h1 class="text-center ">პროდუქტები</h1>
    <div class="row">
      <div class="col-lg-4" *ngFor="let product of products; index as i">
        <div class="card">
          <img [src]="product.photogal[product.indexwei]" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <h3>{{product.calcprice}} ლ</h3>

           <div class="flex">
            <button *ngFor="let weig of product.weight; index as w" (click)="sumprice(i, w)" class="btn m-1 btn-sm btn-warning">{{weig}} გ</button>
          
          </div>

          <div class="flex">
            <img *ngFor="let img of product.photogal; index as s" [ngClass]="{active: s == product.indexwei}" (click)="changeimg(i, s)" class="w-50 , p-3" [src]="img">
          
          </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

