<section>
<app-dash> </app-dash>

<!-- <div class="container ">
  <div class="col-lg-4 mx-auto mt-3">
    <div class="card" [ngClass]="{discount:true, gift:discount}" [ngStyle]="style">
      <img [src]="poster" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

        <div [ngSwitch]="leng">
          <a *ngSwitchCase="'ka'"  href="#" class="btn btn-primary">ქართული</a>
          <a *ngSwitchCase="'eng'"  href="#" class="btn btn-primary">ინგლისური </a>
          <a *ngSwitchCase="'ru'"  href="#" class="btn btn-primary">რუსული</a>
          <a *ngSwitchCase="'fr'"  href="#" class="btn btn-primary">ფრანგული</a>
          <a *ngSwitchDefault="">საწყისი</a>
        </div>

        <select class="form-control" name="" [(ngModel)]="leng" id="">
          <option *ngFor="let lng of lengs" [ngValue]="">{{lng}}</option>
        </select>
      </div>
    </div>

    <button class="btn btn-danger" (click)="changeinp('red', 'assets/img/img1.png')">წითელი</button>
    <button class="btn btn-success" (click)="changeinp('green', 'assets/img/img2.jpg')">მწვანე</button>
    <button class="btn btn-primary" (click)="changeinp('blue', 'assets/img/img3.png')">ლურჯი</button>


    </div>
</div>


<div class="container mt-4 mb-5">
  <div class="row">
    <div class="col-lg-4 mt-4" *ngFor="let user of users; index as i">
      <div class="card border" [ngClass]="{'border-primary': user.verify, 'border-danger': !user.verify}">
        <img [src]="user.avatar" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{user.name}}</h5>
          <p class="card-text">ელ-ფოსტა:{{user.email}} {{i}}</p>
          <a href="#" class="btn btn-primary">მისმართი {{user.addre !== undefined ? user.addre[user.addreindex] : ''}}</a>
        </div>
      </div>
    </div>
  </div>
</div>





 <div class="container">
  <div class="col-lg-5 p-4 shadow mx-auto rounded">
    <input type="text" class="form-control" required [formControl]="title">
    <small class="text-danger" *ngIf="title.touched && title.invalid">შეიყვანეთ ვალიდური ინფორმაცია</small>
  


    <br>


    <hr>
    

    <form action="" [formGroup]="registerform" (ngSubmit)="formdata(registerform.value)">

      <div class="row">
        <div class="col-lg-6 mb-3">
        <input type="text" class="form-control" required formControlName="name">
        </div>
        <div class="col-lg-6 mb-3">
          <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="col-lg-12 mb-3">
          <input type="text" class="form-control" pattern="[/d/gi]" required  formControlName="phone">
        </div>
        <div class="col-lg-12 mb-3">
          <input type="checkbox" class="form-controls" value="red" >
          წითელი
          <hr>
          <input type="checkbox" class="form-controls" value="black" >
          შავი
          <hr>
          <input type="checkbox" class="form-controls" value="green" >
          მწვანე
          <hr>
          <input type="checkbox" class="form-controls" value="blue" >
          ლურჯი
          <hr>
        </div>

        <div class="col-lg-12">
        <textarea name="" class="form-control" formControlName="body" id="" cols="30" rows="10"></textarea>
      
        </div>

        <button class="btn btn-danger" type="submit" [disabled]="!registerform.valid">გაგზავნა</button>
      </div>



    </form>
  </div>
 </div> -->


 <router-outlet></router-outlet>

<app-footer></app-footer>
</section>